* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #86c232;
  text-align: center;
  padding-top: 1px;
  margin-left: 12%;
  margin-right: 12%;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 15px;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  border: 2px #222629 solid;
  padding: 8px;
  text-align: center;
}

nav ul :hover {
  background-color: #222629;
}

nav a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #222629;
}

main p {
  margin: 0px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
}

main p a {
  color: white;
}

main {
  text-align: center;
  color: white;
}
main ul {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Source Code Pro', monospace;
}

main ul li {
  padding: 5px;
}
main li a {
  color: white;
  list-style: none;
}

footer {
  background-color: #86c232;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 125px;
  padding: 15px;
  padding-bottom: auto;
}

li {
  padding-bottom: 25px;
  list-style: none;
}
h2 {
  margin-top: 25px;
  
}
.GillarHeader{
font-size: 50px;
}

.List {
  font-size: 25px;
}

.Bildgalleri1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
}

.image-container{
  width: 50%;
  padding-bottom: 35px;
  padding-top: 10px;
  
}
.MosesStart{
  height: 50%;
  width: 50%;
}




.GillarBild{
  height: 50%;
  width: 50%;
}

